@import "tailwindcss";

* {
  /* margin: 10px; */
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
